<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% if notice.present? %>
        <div class="flash-msg">
          <div class="alert alert-info" role="alert">
            <%= notice %>
          </div>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="flash-msg">
          <div class="alert alert-warning" role="alert">
            <%= alert %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="about col-md-5 col-md-offset-1 hidden-sm hidden-xs">
      <p>FunnyImageLabelでは、画像解析APIを利用して画像のラベル検出を行うことができます。<br>
        （画像解析APIはAmazon Web ServicesのRekognitionもしくはGoogle Cloud PlatformのCloud Vision APIを利用することができます。）</p>
      <p>面白いラベルが検出される画像を見つけて投稿してみましょう。</p>
      <p class="text-center"><img src="<%= asset_path 'Rekognition.png' %>"></p>
      <p class="text-center"><img src="<%= asset_path 'Cloud Vision API.png' %>"></p>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default registration-form">
        <div class="panel-body">
          <h1>ユーザー登録</h1>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="field">
              <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
            </div>
            <div class="field">
              <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
            </div>
            <div class="field">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
            </div>
            <div class="actions">
              <%= f.submit "ユーザーを作成する", class: "btn btn-block btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default login-form">
        <div class="panel-body">
          <h1>ログイン</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
            </div>
            <div class="field">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
            </div>
            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-block btn-primary" %>
            </div>
          <% end %>
          <div class="text-center">
            または
          </div>
          <div class="actions">
            <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-primary" do %>
              <%= fa_icon "facebook-official fw", text: "Facebookでログイン" %>
            <% end %>
          </div>
          <div class="actions">
            <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-block btn-primary" do %>
              <%= fa_icon "twitter fw", text: "Twitterでログイン" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
