<div class="container">
  <div class="row">
    <h1 class="text-center">コメントの編集</h1>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <% if @comment.errors.any? %>
        <div class="flash-msg alert alert-warning" role="alert">
          <h2><%= @comment.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="topic-panel panel panel-default">
        <div class="panel-body">
          <%= form_for(@topic) do |f| %>
            <div class="profile-image"><%= profile_img(@topic.user) %></div>
            <div class="username">
              <strong><%= @topic.user.name %></strong><br>
              <%= @topic.updated_at.strftime("%Y/%m/%d %H:%M:%S") %>
            </div>
            <div>
              <%= simple_format(@topic.content) %>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <%= image_tag(@topic.image, :width => '100%') %>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <p>
                  <b><%= @api_name %></b>
                </p>
                <% @topic.image_labels.order(score: :desc).each do |label| %>
                  <% if label.selected %>
                    <p><%= label.label %><span class="pull-right"><%= sprintf("%.3f %", label.score * 100) %></span></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="comments-panel panel panel-default">
        <div class="panel-body">
          <%= form_for([@topic, @comment]) do |f| %>
            <%= f.hidden_field :topic_id %>
            <%= f.text_area :content, placeholder: "コメントする", rows: "3", class: "form-control" %>
            <br>
            <%= f.submit class: "btn btn-primary btn-block" %>
            <br>
            <%= link_to topic_path(@topic), class: "btn btn-block btn-default" do %>
              <%= fa_icon "arrow-circle-o-left fw", text: "戻る" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
