<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% if notice.present? %>
        <div class="flash-msg alert alert-info" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="flash-msg alert alert-warning" role="alert">
          <%= simple_format(alert) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center">画像選択</h1>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for(@reserved_image, url: detect_labels_topics_path) do |f| %>
            <div class="row select-image">
              <label class="col-md-5 col-sm-5 col-xs-5">画像</label>
              <%= f.hidden_field :image %>
              <%= f.file_field :image, class: "col-md-7 col-sm-7 col-xs-7" %>
            </div>
            <div class="row select-api">
              <label class="col-md-5 col-sm-5 col-xs-5">画像解析API</label>
              <%= hidden_field_tag :api_name, 'noapi' %>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <div>
                  <label><%= f.radio_button_tag :api_name, 'Rekognition' %>Rekognition</label>
                </div>
                <div>
                  <label><%= f.radio_button_tag :api_name, 'Cloud Vision API' %>Cloud Vision API</label>
                </div>
              </div>
            </div>
            <div class="action">
              <%= f.submit "ラベル検出する", class: "btn btn-block btn-primary" %>
            </div>
          <% end %>
          <div class="action">
            <%= link_to topics_path, class: "btn btn-block btn-default" do %>
              <%= fa_icon "arrow-circle-o-left fw", text: "戻る" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
